# Diretórios e arquivos temporários
tmp/
temp/
*.tmp

# Sistema Operacional
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editores e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Logs e relatórios de erro
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependências e Builds (caso sejam adicionados no futuro)
node_modules/
dist/
build/
.cache/

# Variáveis de ambiente
.env
.env.local
.env.*.local
